<div class="text-center mb-4">
  <h2 class="text-primary">Listado de Películas</h2>
</div>

<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th>Título</th>
      <th>Año</th>
      <th>Director</th>
      <th>Género</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies">
      <td>{{ movie.titulo }}</td>
      <td>{{ movie.anio }}</td>
      <td>{{ movie.director }}</td>
      <td>{{ movie.genero }}</td>
      <td>
        <a [routerLink]="['/movie', movie.id]" class="btn btn-primary btn-sm">
          <i class="bi bi-eye"></i> Ver
        </a>
      </td>
    </tr>
  </tbody>
</table>
